.error-enter {
  opacity: 0.01;
}

.error-enter.error-enter-active {
  opacity: 1;
  transition: all 500ms ease;
}

.error-leave {
  opacity: 1;
}

.error-leave.error-leave-active {
  opacity: 0.01;
  transition: all 700ms ease;
}
